.row {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #4e4e4e;
}
.row:last-child {
    border-bottom: none;
}

.rowItem {
    padding: 10px 5px;
    flex-basis: 18%;
    text-align: center;
}
.button {
    margin-left: 12px;
    cursor: pointer;
    line-height: 1;
    padding: 8px 12px;
    background-color: #ff7b5b;
    font-size: 14px;
    border: none;
    outline: none;
    border-radius: 4px;
    transition: 0.2s;
}


.button:hover {
    background-color: #be2608;
    color: #fff;
}

.cardsLink {
    color: #6d0606;
    margin-left: 10px;
}
.cardsLink:hover {
    color: #f19105;
}
