.header {
    width: 100%;
    height: 80px;
    padding: 10px;
    background-color: #fff2e2;
    position: fixed;
    top: 0;
    box-shadow: 1px 1px 10px rgba(000, 000, 000, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
}
.menuItem {
    height: 100%;
    margin-right: 20px;
    display: flex;
    align-items: center;
}
.link {
    display: block;
    padding: 15px 7px;
    text-decoration: none;
    font-family: 'Comfortaa_Bold', sans-serif;
    color: #1d1d1d;
    font-size: 16px;
    text-transform: uppercase;
    transition: 0.3s;
}
.link:hover {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    color: #5d5d5d;
}
.active {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    color: #5d5d5d;
    font-weight: bold;
}
.button {
    cursor: pointer;
    line-height: 1;
    padding: 15px 20px;
    background-color: #ff7b5b;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 4px;
    transition: 0.2s;
    text-decoration: none;
}
.button:hover {
    background-color: #be2608;
    color: #fff;
}
