.container {
    display: flex;
    align-items: center;
}

.item {
    cursor: pointer;
    line-height: 18px;
    margin-right: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #775298;
    background-color: #fff;
    border-radius: 4px;
    font-size: 18px;
}

.button {
    width: 35px;
    height: 35px;
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 2px;
}

.page {
    padding-top: 2px;
    width: 30px;
    height: 30px;
    transition: 0.3s;
}
.page:hover {
    background-color: #775298;
    color: #fff;
}

.current {
    background-color: #775298;
    color: #fff;
}
