.mainPage {
    height: 100vh;
    overflow-y: auto;
    background-color: #ffecd5;
    background-image: url("/src/assets/main-bg.png");
    background-repeat: no-repeat;
    background-position: 5% 65%;

}

.mainContainer {
    width: 1200px;
    max-width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}
