.profile {
    padding-top: 90px;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.initializedError {
    width: max-content;
    padding: 10px 15px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 1px 1px 5px rgba(000, 000, 000, 0.3);
    text-align: center;
    font-size: 20px;
    color: #cc1b08;
}

.userProfile {
    width: 700px;
    margin: 0 auto;
    max-width: 100%;
    border: 1px solid #c6c6c6;
    padding: 20px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 1px 1px 5px rgba(000, 000, 000, 0.3);
    border-radius: 8px;
}

.avatar {
    margin-right: 30px;
}

.avatar img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.dataRow {
    text-align: left;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

.dataRow span {
    color: #cc1b08;
}

