* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #1d1d1d;
  font-family: 'Comfortaa', sans-serif;
}

@font-face {
  font-family: 'Comfortaa';
  src: local('Comfortaa'), url("assets/fonts/Comfortaa/static/Comfortaa-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: 'Comfortaa_Medium';
  src: local('Comfortaa_Medium'), url("assets/fonts/Comfortaa/static/Comfortaa-Medium.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: 'Comfortaa_Bold';
  src: local('Comfortaa_Bold'), url("assets/fonts/Comfortaa/static/Comfortaa-Bold.ttf") format("truetype");
  font-weight: bold;
}
body {

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
